.container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.head {
  color: #616e7c;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border: none;
}
